.header-view {
	padding: 10px 0 16px;
	background-color: $red;
	# margin-bottom: 10px;
}

.inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 16px 26px;
	box-sizing: border-box;
}

.inner.no-padding {
	padding: 0;
}

.inner.light-background {
	background-color: $light-grey;
}


.footer-view {
	padding: 26px 0 42px;
	background-color: $black;
	color: $white;
}

@mixin clear {
	&:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}
}