@import url("http://weloveiconfonts.com/api/?family=entypo");
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 3, ../scss/typography.scss */
body {
  font-family: "sommet",sans-serif;
  font-style: "normal";
  font-weight: 400;
  background-color: #40423f;
  font-size: 16px;
  line-height: 20px;
  color: #40423f; }

/* line 11, ../scss/typography.scss */
.logo {
  font-size: 2.625rem;
  line-height: 3rem;
  font-family: "futura-pt-condensed",sans-serif;
  font-style: "normal";
  font-weight: 700;
  color: white;
  text-transform: uppercase; }

/* line 19, ../scss/typography.scss */
.tagline {
  color: white; }

/* line 23, ../scss/typography.scss */
.large-heading {
  font-family: "futura-pt-condensed",sans-serif;
  font-style: "normal";
  font-weight: 700;
  color: #d82401;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 34px; }
  /* line 32, ../scss/typography.scss */
  .large-heading a:before {
    margin-right: 6px; }

/* line 39, ../scss/typography.scss */
.medium-heading {
  font-family: "futura-pt-condensed",sans-serif;
  font-style: "normal";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 6px; }
  /* line 46, ../scss/typography.scss */
  .medium-heading a:before {
    margin-right: 4px; }

/* line 51, ../scss/typography.scss */
.small-heading {
  font-family: "futura-pt-condensed",sans-serif;
  font-style: "normal";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px; }

/* line 58, ../scss/typography.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 63, ../scss/typography.scss */
.description {
  font-size: 13px;
  line-height: 18px; }

/* entypo */
/* line 69, ../scss/typography.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

/* line 1, ../scss/grid.scss */
.row {
  font-size: 0;
  margin-bottom: 26px; }

@media all and (min-width: 1025px) {
  /* line 11, ../scss/grid.scss */
  .d-col1of4 {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    font-size: 16px;
    vertical-align: top; }

  /* line 19, ../scss/grid.scss */
  .d-col1of4:nth-child(4n + 4) {
    margin-right: 0; } }
@media all and (max-width: 1024px) and (min-width: 681px) {
  /* line 28, ../scss/grid.scss */
  .t-col1of2 {
    display: inline-block;
    width: 47.5%;
    margin-right: 5%;
    font-size: 16px;
    vertical-align: top; }

  /* line 36, ../scss/grid.scss */
  .t-col1of2:nth-child(2n + 2) {
    margin-right: 0; } }
/* line 1, ../scss/layout.scss */
body {
  background-color: #40423f; }

/* line 5, ../scss/layout.scss */
.main-header {
  padding: 10px 0 16px;
  background-color: #d82401;
  # margin-bottom: 10px; }

/* line 11, ../scss/layout.scss */
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* line 18, ../scss/layout.scss */
.inner.no-padding {
  padding: 0 0; }

/* line 22, ../scss/layout.scss */
.inner.light-background {
  background-color: #e1e1e1; }

/* line 27, ../scss/layout.scss */
.main-footer {
  padding: 26px 0 42px;
  background-color: black;
  color: white; }

/* line 2, ../scss/toys.scss */
.toys .toy {
  margin-bottom: 16px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box; }
  /* line 8, ../scss/toys.scss */
  .toys .toy header {
    display: inline-block;
    padding: 26px 16px 0;
    # box-sizing: border-box;
    display: block; }
    /* line 3, ../scss/extras.scss */
    .toys .toy header:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 10, ../scss/extras.scss */
    * html .toys .toy header {
      height: 1px; }
  /* line 15, ../scss/toys.scss */
  .toys .toy .thumb {
    width: 100%;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
    display: block; }
  /* line 21, ../scss/toys.scss */
  .toys .toy .name {
    float: left; }
  /* line 25, ../scss/toys.scss */
  .toys .toy .description {
    padding: 0 16px 26px;
    color: #40423f; }
  /* line 30, ../scss/toys.scss */
  .toys .toy .price {
    float: right; }
  /* line 34, ../scss/toys.scss */
  .toys .toy .view-details {
    font-family: "futura-pt-condensed",sans-serif;
    font-style: "normal";
    font-weight: 700;
    background-color: #4e6642;
    color: white;
    font-weight: 300;
    padding: 6px 10px;
    margin: 10px 16px 10px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px; }

/* line 3, ../scss/categories.scss */
.categories-wrapper {
  background-color: white; }

/* line 7, ../scss/categories.scss */
.categories {
  width: 65%;
  margin: 0 auto;
  font-size: 0;
  padding: 16px 0 10px; }
  /* line 13, ../scss/categories.scss */
  .categories .category {
    width: 23.5%;
    margin-right: 2%;
    display: inline-block;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    background-color: #e1e1e1; }
    /* line 22, ../scss/categories.scss */
    .categories .category header {
      display: inline-block;
      # box-sizing: border-box;
      display: block; }
      /* line 3, ../scss/extras.scss */
      .categories .category header:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      /* line 10, ../scss/extras.scss */
      * html .categories .category header {
        height: 1px; }
    /* line 28, ../scss/categories.scss */
    .categories .category .name {
      padding: 6px 16px 0; }
    /* line 32, ../scss/categories.scss */
    .categories .category .thumb {
      width: 100%;
      height: 100px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;
      #border-bottom: 1px solid rgba(0, 0, 0, 0.35);
      display: block; }
    /* line 41, ../scss/categories.scss */
    .categories .category .description {
      padding: 0 16px 26px;
      color: #40423f; }
    /* line 46, ../scss/categories.scss */
    .categories .category .view-details {
      font-family: "futura-pt-condensed",sans-serif;
      font-style: "normal";
      font-weight: 700;
      background-color: #4e6642;
      color: white;
      font-weight: 300;
      padding: 6px 10px;
      margin: 10px 16px 10px;
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  /* line 61, ../scss/categories.scss */
  .categories .category:last-child {
    margin-right: 0; }

/* line 3, ../scss/brands.scss */
.brands {
  font-size: 0;
  # height: 80px;
  margin-bottom: 26px; }
  /* line 8, ../scss/brands.scss */
  .brands .brand {
    # display: inline-block;
    width: 10%;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15); }
    /* line 18, ../scss/brands.scss */
    .brands .brand a {
      display: block;
      height: 100px;
      width: 100%;
      background-position: 50% 50%;
      -webkit-background-size: auto 70%;
      -moz-background-size: auto 70%;
      -o-background-size: auto 70%;
      background-size: auto 70%;
      background-repeat: no-repeat;
      background-color: white; }
